@{
    Layout = null;
}
<div class="standard-text div-with-border" style="height: 360px;">
    <ul class="menu info-panel-questionbank">
        <li id="infopanel_header" class="info-panel-header">INFO PANEL</li>
         <li id="infopanel_library" class="subfolder-panel-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Library</li>
        <li class="info-panel-content-return" id="ReturnToQuestionBank" >
            <a class="select-hand" id="returntoQuestionBank">
                <span>Return To Library Question Bank</span></a></li>
    </ul>
    
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ReturnToQuestionBank a").css('color', '#7c8383');
    }); 
    $(function () {
        $("#returntoQuestionBank").click(function () {
            questionBank.commonFunctions.returnToQuestionBank();
        });
    });
</script>
