@using SimChartMedicalOffice.Common
@{
    Layout = null;
}
<div class="grid_32 standard-text" id="SkillsetHolder">
    <div class="clear clear-min-height-spacing">
    </div>
    <div class="grid_32 form-page-header div-with-bottom-border" style="width: 920px">
       <div class="grid_5">Skill Set Builder</div>
        <div class="grid_27"><img id="img_for_skillset" alt="x" src="" class="hide-content info-image"/></div>
    </div>
    <div class="grid_5 align-div-inline">
        @Html.Partial("../../Views/Builder/SkillSet/ReturnToSkillSetBuilder")
    </div>
    
    <div class="align-div-inline remove-div-space" style="float: left; width: 770px">
        <div id="skillSetContent">
       </div> 
    </div>
</div>
<script type="text/javascript">
    $.ajaxSetup({
        cache: false,
        asynch: false,
        type: "POST"
    });
    $(document).ready(function () {
        disableAButton("btnProceedSkillSet");
    });
    
</script>
