@{
    Layout = null;
}
<div class="grid_24">
<div class="clear clear-min-height-spacing">
    &nbsp;</div>
    <div id="calendar-view-content" class="show-content">
        <div id="calendar" class="grid_32 smo-calendar-content">
        </div>
        <div id="searchPatientForAppointment" class="grid_32"></div>
  </div>
    <div id="calendarExamRoom" class="grid_32 smo-calendar-content hide-content">
    </div>
</div>
