@{
    Layout = null;
}
<div class="grid_32 standard-text holder-height" id="AssignmentHolder">
    <div class="clear clear-min-height-spacing">
    </div>
    <div id = "questionBankHeader" class="grid_32 form-page-header div-with-bottom-border" style="width: 920px">
        <div class="grid_6">Assignment Builder</div>
        <div id="stepwiseImage" class="grid_24"></div>
    </div>
    <div class="grid_5 right-content-height">
        @Html.Partial("../../Views/Builder/Assignment/ReturnToAssignmentBuilder")
    </div>
    <div class="grid_27 remove-div-space right-content-height" style="float: left; width: 780px">
        <div class="right-content-height" id="divToLoadSteps">
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        setContentHeightForAllBuilders();
        setRightHolderHeight('assignmentHeader');        
    });
</script>