@{
    Layout = null;
}
<div id="progressLoaderDiv" class="grid_32 form-page-header loader" style="padding-top:50px;">
    <img src="@Url.Content("~/Content/Images/loading_black.gif")" class="loading" ></img>
    <br />
    Please wait.....
</div>
