 @using SimChartMedicalOffice.Common
 <script type="text/javascript">
     //stays in the logout page when click of browser Back/Previous button
     $("#logindisplay").hide();
</script>


<div style="text-align:center;padding-left:50px;padding-top:100px;">
    @AppConstants.LogOutSuccess
</div>