@{
    Layout = null;
}
<div class="clear clear-height-spacing">
</div>
<div class="multiple-choice-index-spacing multiple-choice-dashed-line">
</div>
<div class="clear clear-height-spacing">
</div>
<div id="rationale_correct_ans" class="grid_32">
    <div class="header-text">
        Rationale for correct answer:</div>
    @Html.TextArea("RationaleForCorrectAnswer", null, new { rows = 5, cols = 75, @class = "standard-text" })
</div>
<div class="clear clear-height-spacing">
</div>
