@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Master1</title>
</head>
<body>
    <div id="authoring" class=" standard-text">
        <ul id="ul_authoring">
            <li style="width: 130px;"><a onclick="return clearTab(0)" href="../Authoring/PatientBuilder" title="#authoringPractice">
                <span id="practiceTab" class="tab-header">Practice</span></a></li>
            <li style="width: 130px;"><a onclick="return clearTab(1)" href="../SkillSet/SkillSetBuilderLanding" title="#authoringSkillSetBuilder">
                <span id ="skillSetBuilderTab" class="tab-header">Skill Set Builder</span></a></li>
            <li style="width: 130px;"><a onclick="return clearTab(2)" href="../Authoring/QuestionBankLanding" title="#authoringQuestionBank">
                <span id="questionBankTab" class="tab-header">Question Bank</span></a></li>
            <li style="width: 130px;"><a onclick="return clearTab(3)" href="../Authoring/AssignmentBuilderLanding" title="#authoringAssignmentBuilder">
            <span id ="assignmentBuilderTab" class="tab-header">Assignment Builder</span></a></li>
        </ul>
        <div id="authoringPractice">
        </div>
        <div id="authoringSkillSetBuilder">
        </div>
        <div id="authoringQuestionBank">
        </div>
        <div id="authoringAssignmentBuilder">
            
        </div>
    </div>
    <script type="text/javascript">
        function clearTab(tabIndexSelected) {
            var currentlySelectedTab = getSelectedTabIndex();
            // needs further analysis
            if (tabIndexSelected != currentlySelectedTab) {
                $("#authoringPractice").empty();
                $("#authoringSkillSetBuilder").empty();
                $("#authoringQuestionBank").empty();
                $("#authoringAssignmentBuilder").empty();
            }
            return false;
        }

        function getSelectedTabIndex() {
            var tabIndex = $('#authoring').tabs('option', 'selected');
            return tabIndex;
        }

        $(function () {
            $("#authoring").tabs({
                spinner: ""
            });

            var practiceLinks = $('div[id=authoring] a');
            // On mouse hover
            practiceLinks.hover(
            // In: Store and remove title
                function () {
                    old_title = $(this).attr('title');
                    $(this).attr('title', '');
                },
            // Out: Replace title
                function () {
                    $(this).attr('title', old_title);
                }
            );

            $('#authoring').tabs({ selected: 2 });
        });
    </script>
</body>
</html>
