/**SimOffice Calendar start**/
.fc-event-skin
{
    background-color:transparent;
    color:Black;
    border-style:none;
}
.fc-event-title
{
    color:Black;
    font-size:10px;
    font-family : Helvetica, Arial, 'Liberation Sans' , FreeSans, sans-serif;
}
.fc-grid .fc-event-time
{
    font-weight:normal;
}
.fc-slot-19-custom
{
    padding-top:14px;
}
.qtip-content
{
    color:Black;
    font-size:10px;
    font-family : Helvetica, Arial, 'Liberation Sans' , FreeSans, sans-serif;
}
.fc-view-month
{
    height: 342px; 
    overflow-y: auto;
    overflow-x:hidden;
}
.ui-datepicker-current-day 
{
    background-color:White;
    background-image:none;
    border-color:Black;
}
.ui-state-highlight
{
   background-color :White;
   background-image:none;
}
.span.fc-event-time
{
    display:block;
}
.fc-event-time
{
    color:Black;
    font-size:10px;
    font-family : Helvetica, Arial, 'Liberation Sans' , FreeSans, sans-serif;
}
.view-more span.fc-event-title
{
     color: blue; 
     text-decoration:underline;
     cursor:pointer;
}
.view-more span.fc-event-time
{
    display:none;
}
.ui-state-default ui-state-active
{
    border:none;
    border-style:none;
}
.ui-datepicker-today
{
    background-color :White;
    background-image:none;
    border-color:Black;
}
.patient-visit
{
    background-color:#A0C1E8;
    border-style:none;
    color:Black;
    cursor:pointer;
}
.blocked-appointment
{
    background-color:#E6B9B8;
    border-style:none;
    color:Black;
    cursor:pointer;
}
.other-appointment
{
    background-color:#D7E4BD;
    border-style:none;
    color:Black;
    cursor:pointer;
}
.calendar-pane
{
    background-color: #EEEEEE;
}
.fc-event-inner
{
    border-style:none;
}
.office-floor-plan
{
    height: 450px; 
    width: 650px;
}
.office-floor-plan-content
{
    overflow:hidden;
    width:650px;
}
.calender-color-icon
{
    padding-left:17px;
    padding-top:8px;
    height: 11px;
    width: 11px;
}
.calender-appointment-type
{
    cursor: pointer;
    cursor: hand;
    font-size: 11px;
    font-family: Arial;
    color: blue;
    font-weight: normal;
    text-decoration: underline;
}
.calender-appointment-type-disabled
{
    cursor: text;
    font-size: 11px;
    font-family: Arial;
    color: black;
    font-weight: normal;
    text-decoration:none;
}
.smo-calendar-content
{
    height: 397px;
    width: 98%;
}
 
td.week-highlight   
{
    border: 1px black solid !important;
}

td.disabled-date a.ui-state-default
{
    color:Gray;
    background-color:White;
    background-image:none;
}
td.enabled-date a.ui-state-default
{
    color:Black;
    background-color:White;
    background-image:none;
}


.calendar-panel-content
{
    font-family: Arial;
    background-color: #EEEEEE;
    color: gray;
    font-weight: bold;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #cdcdcd;
    height: 18px;
}

.calendar-panel-header
{
    background-color:#376cb4;
    background-repeat:no-repeat; 
    color:White;
    font-size:12px;
    font-weight:bold;      
}

.calendar-accordion-body
{
    height:350px;
    overflow-x:hidden;
    overflow-y:auto;
}


table.fc-header
{
    border-bottom:1px;
}
table.fc-header td
{
    border-width: 0px 0px 0px 0px;
    border-color:inherit;
}
td.fc-header-left
{
    width:10px;
    border-right:none;
    border-right-width:0px;
    border-right-color:transparent;
    border-right-width: medium; 
    border-right-style: none;
}

td.fc-header-center
{
    text-align:left;
    padding-left:2px;
}

span.fc-header-title h2
{
    font-family: Arial;
    color: #0060A8;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-right: 0px;
    padding-left: 15px;
    font-size:15px;
}
 
table .fc-agenda-slots tbody th, tbody td, tbody tr th,tbody tr td
{
    font-size: 11px;
    font-weight: normal;
    background-color:White;
}
table .fc-header tbody th, tbody td
{
    font-size: 11px;
    font-weight: normal;
    background-color:White;

}
td .disabled-date a .ui-state-default
{
    background-color:White;
    background-image:none;
}
div .smo-calendar-content table 
{
    border-width: 0px 0px 0px 0px;
    border-left-style:none;
    border-right-style:none;
    border-top-style:none;
    border-bottom-style:none;
}
.fc-header table td
{
    border-width: 0px 0px 0px 0px;
    border-left-style:none;
    border-right-style:none;
    border-top-style:none;
    border-bottom-style:none;
}
.fc-button-content span
{
    font-size:11px;
}
/*
table th
{
    border:0px;
}
tbody th, tbody td
{
    border:0px;
    background: none;
    font-size: 11px;
}
*/
.fc-widget-header
{
    border:0px;
    height:10px;    
}
.fc-widget-content
{
    border:thin solid #ccc;
}

.fc-border-separate tbody tr.fc-first td
{
	border-top-width: 1px;
}
.fc-agenda-slots tr.fc-minor th
{
    border-top-width:0;
}	
.fc-agenda .fc-agenda-axis
{
    font-weight:bold;
}
	
 /**SimOffice Calendar End**/