<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css">
        .h1
        {
            text-align: center;
            font-size: x-large;
            background-color: SpringGreen;
        }
        
        .f1
        {
            text-align: center;
            font-size: normal;
            background-color: SpringGreen;
        }
        
        a:link
	    {
	        color:blue;
	        text-decoration:underline;
	        text-underline:single;
        }

        .style2
        {
            font-size: large;
        }

    </style>
</head>

<body >

<table width="80%" height="50" align="center" bgcolor="PaleGreen" >
    <tr >
        <td width="50%" bgcolor="PaleGreen" align="center">
            <strong style="text-align: center"><span class="style2">@ProjName@ @DebugType@ build: @BLDNUM@</span></strong>
        </td>
    </tr>
</table>

<table width="80%" align="center">
    <tr >
        <td width="25%" bgcolor="PaleGreen" align="left">
            <div align="left">Project:</div></td>
        <td bgcolor="PaleGreen" style="col_right_odd: ;">
            <div align="left">@ProjName@</div></td>
    </tr>
    <tr >
        <td width="25%" align="left">
            <div align="left">Release Branch</div></td>
        <td style="col_right_even: ;" >
            <div align="left">@ReleaseVersion@</div></td>
    </tr>
    <tr >
        <td bgcolor="PaleGreen" width="25%" align="left">
            <div align="left">SVN Revision</div></td>
        <td  bgcolor="PaleGreen" style="col_right_odd: ;">
            <div align="left">@SVN.REV@</div></td>
    </tr>
    <tr >
        <td width="25%" align="left">
            <div align="left">Date of build:</div></td>
        <td class="style5" style="col_right_even: ;">
            <div align="left">@CurDate@</div></td>
    </tr>
    <tr >
        <td bgcolor="PaleGreen" width="25%" align="left">
            <div align="left">Build Type:</div></td>
        <td  bgcolor="PaleGreen" style="col_right">
            <div align="left">@DebugType@</div></td>
    </tr>
    <tr >
        <td width="25%" align="left">
            <div align="left">Server Name: </div></td>
        <td style="col_right_even: ;" >
            <div align="left">@BuildServer@</div></td>
    </tr>
    <tr >
        <td bgcolor="PaleGreen" width="25%" align="left" >
            <div align="left">Builder: </div></td>
        <td  bgcolor="PaleGreen" style="col_right_odd: ;" >
            <div align="left">@Logname@</div></td>
    </tr>
    <tr >
        <td width="25%" align="left">
            <div align="left">Operating System:</div></td>
        <td style="col_right_even: ;" >
            <div align="left">@OS@</div></td>
    </tr>
    <tr >
        <td bgcolor="PaleGreen" width="25%" align="left">
            <div align="left">Architecture:</div></td>
        <td  bgcolor="PaleGreen" style="col_right_odd: ;">
            <div align="left">@Arch@</div></td>
    </tr>
    <tr >
        <td width="25%" align="left">
            <div align="left">Build Package</div></td>
        <td style="col_right_even: ;" >
            <div align="left">@BLDPKG@</div></td>
    </tr>
    <tr >
        <td bgcolor="PaleGreen" width="25%" align="left">
            <div align="left">Build XML</div></td>
        <td bgcolor="PaleGreen" style="col_right_odd: ;" >
            <div align="left">@BLDXML@</div></td>
    </tr>
    <tr >
        <td width="25%" align="left">
            <div align="left">Package Repository</div></td>
        <td style="col_right_even: ;" >
            <div align="left">@PKGREPO@</div></td>
    </tr>
</table>
 
<table width="80%" height="50" align="center" >
    <tr >
        <td width="50%" bgcolor="PaleGreen" align="center">
            <div style="text-align: center">© 2011 Elsevier All rights reserved.</div>
        </td>
    </tr>
</table> 
<p style="text-align: center" >&nbsp;</p>

