@{
    Layout = null;
}
<div class="grid_24 standard-text">
    <div class="clear clear-height-spacing">
    </div>
    <div class="form-page-header">
        Confirmation
    </div>
    <div class="grid_32 alpha  guidance-message div-with--blue-border">
    <div class="grid_32 guidance-text-spacing ">
    </div>
        <div class="grid_30 prefix_1 confirmation-message"> 
            @ViewBag.FormName form has been saved to Patient @ViewBag.PatientName record
        </div> 
        <div class="grid_32 guidance-text-spacing">
    </div>
    </div>
    <div class="clear clear-height-spacing">
    </div>
</div>
<script type="text/javascript">
    $("#form-button").hide();
</script>